{% extends "base_generic.html" %}

{% block content %}
  <h1>CIP Idea List</h1>
  {% if cip_list %}
  <table>
    <tr>
        <th>CIP Idea ID</th>
        <th>Entered Date</th>
        <th>Orginator</th>
        <th>Status</th>
        <th>Asset</th>
        <th>Summary</th>
        <th>Supporter</th>
        <th>Annual Savings</th>
    </tr>
    {% for cipIdea in cip_list %}
            <tr>
                <td><a href="{{ cipIdea.get_absolute_url }}">{{ cipIdea.id }} {{ cipIdea.assets.asset_num }} </a></td>
                <td>{{ cipIdea.entered_date}}</td>
                <td>{{ cipIdea.originator.first_name}} {{ cipIdea.originator.last_name}}, {{ cipIdea.originator.emp_id}}</td>
                <td>{{ cipIdea.status.get_status_display }}</td>
                <td>{{ cipIdea.assets}}</td>
                <td>{{ cipIdea.summary }}</td>
                <td>{{ cipIdea.eng_support.first_name}} {{ cipIdea.originator.last_name}}, {{ cipIdea.originator.emp_id }}</td>
                <td>{{ cipIdea.annual_savings}}</td>
            </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no CIP ideas at the time.</p>
  {% endif %}
{% endblock %}
